[run]
source = safecopy
omit =
    safecopy/__init__.py
    safecopy/**/__init__.py
    safecopy/**/conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:

show_missing = True
