alabaster==1.0.0
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.10.0
APScheduler==3.10.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
babel==2.17.0
beautifulsoup4==4.14.2
billiard==4.2.1
black==25.1.0
bleach==6.3.0
blinker==1.9.0
cachelib==0.13.0
celery==5.4.0
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
channels==4.2.2
channels_redis==4.2.1
charset-normalizer==3.4.3
chess==1.11.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
comm==0.2.3
constantly==23.10.4
coverage==7.11.0
cron-descriptor==1.4.5
cryptography==45.0.4
daphne==4.2.0
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
dj-rest-auth==7.0.1
Django==4.2.25
django-axes==8.0.0
django-celery-beat==2.7.0
django-cors-headers==4.6.0
django-debug-toolbar==6.1.0
django-environ==0.12.0
django-extensions==4.1
django-ratelimit==4.1.0
django-redis==6.0.0
django-silk==5.4.3
django-stubs==5.2.7
django-stubs-ext==5.2.7
django-timezone-field==7.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docutils==0.21.2
drf-spectacular==0.29.0
executing==2.2.1
ExifRead==3.0.0
factory_boy==3.3.3
Faker==37.12.0
fastjsonschema==2.21.2
filelock==3.20.0
flake8==7.3.0
Flask==3.1.0
Flask-Caching==2.3.1
Flask-Login==0.6.3
fqdn==1.5.1
ftfy==6.3.1
gprof2dot==2025.4.14
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
hyperlink==21.0.0
identify==2.6.15
idna==3.10
imagesize==1.4.1
incremental==24.7.2
inflection==0.5.1
iniconfig==2.1.0
ipykernel==7.1.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kombu==5.5.4
langcodes==3.5.0
language_data==1.3.0
lark==1.3.1
locate==1.1.1
marisa-trie==1.2.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.2.1
mccabe==0.7.0
mcp==1.14.0
mdurl==0.1.2
memory-profiler==0.61.0
mistune==3.1.4
MouseInfo==0.1.3
msgpack==1.1.1
mypy==1.18.2
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.1
nodeenv==1.9.1
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.2.1
packaging==25.0
pandocfilters==1.5.1
parso==0.8.5
pathlib==1.0.1
pathspec==0.12.1
pefile==2023.2.7
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.3.0
prometheus_client==0.23.1
prompt_toolkit==3.0.51
psutil==7.1.0
psycopg2-binary==2.9.9
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycodestyle==2.14.0
pycparser==2.22
pydantic==2.11.9
pydantic-settings==2.10.1
pydantic_core==2.33.2
pyexiv2==2.14.0
pyflakes==3.4.0
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.3
PyJWT==2.10.1
PyMsgBox==1.0.9
pyOpenSSL==25.1.0
pyperclip==1.9.0
PyRect==0.2.0
PyScreeze==1.0.1
pystray==0.19.5
pytest==8.4.1
pytest-asyncio==1.0.0
pytest-cov==7.0.0
pytest-django==4.11.1
pytest-mock==3.15.1
python-chess==1.999
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytweening==1.2.0
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
pywinpty==3.0.2
PyYAML==6.0.3
pyzmq==27.1.0
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
roman-numerals-py==3.1.0
rpds-py==0.27.1
schedule==1.2.2
Send2Trash==1.8.3
sentry-sdk==2.30.0
service-identity==24.2.0
setuptools==80.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.48.0
terminado==0.18.1
tinycss2==1.4.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
Twisted==25.5.0
txaio==23.1.1
typer==0.17.4
types-PyYAML==6.0.12.20250915
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.35.0
vine==5.1.0
virtualenv==20.35.4
wcwidth==0.2.13
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.3
widgetsnbextension==4.0.15
winshell==0.6
wordfreq==3.1.1
zope.interface==7.2
